.sliders {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sliderWrapper {
  width: 450px;
  align-self: center;
}

.sliderWrapper h2 {
  font-size: 16pt;
  text-align: end;
}
.settingsWrapper {
  border-bottom: 2px white solid;
  border-top: 2px white solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.settingsWrapper p {
  font-size: 12pt;
  font-weight: lighter;
}
